/* Here's where I'll write CSS */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');

/* box-size all the things to border-box!!! */
/* reset all margins to 0 */
html{
    box-sizing: border-box;
    margin: 0;
}
*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
}

/* font */
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.5rem;
}

body{
    background: hsl(214, 64%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: hsl(208, 11%, 55%);

    /* hides horizontal scrolling */
    overflow-x: hidden;
}

main, header, footer{
    width: 100%;
    padding: 6% 4%;
}

h1, h2, h3, h4, h5, h6{
    color: black;
}

h1, h2, h3, h4, h5, h6, p, small{
    margin-bottom: 1rem;
}

h1, h2{
    font-weight: 800;
}

small{
    display: block;
    font-size: 0.75rem;
}

a{
    text-decoration: none;
    color: black;
}

img{
    max-width: 100%;
}

.whiteLogo{
    filter: grayscale(100%) contrast(0%) brightness(100);
}

/* rows & columns */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 14rem;
}

.card{
    display: inline-block;
    background: white;
    max-width: 55%;
    padding: 8% 4%;
    box-shadow: 0em 2em 3em rgba(112, 89, 116, 0.15);
    border-radius: 4px;
}
.column1{
    max-width: 50%;
}

.column2{
    box-sizing: border-box;
    display: inline-block;
    flex: 1;
    margin: 0 5%;
    min-width: 300px;
}

.column3{
    display: inline-block;
    flex: 1;
    min-width: 100px;
    flex-wrap: wrap;
    min-width: 200px;
}

.column3:last-child{
    margin-right: 0;
}

.centerColumn{
    margin: auto;
}

.flexDirectionColumn{
    display: flex;
    flex-direction: column;
    color: green;
}

.columnBreak{
    flex-basis: 100%;
    height: 0;
}

/* social media icons */
i{
    font-size: 1.75em;
    padding-right: 5%;
}
/* decorative stuff */
.decorativeRectangle{
    z-index: -1;
    position: absolute;

    border-radius: 80px;
}
.pinkRectangle{
    background: linear-gradient(hsl(322, 100%, 66%), hsl(265, 100%, 66%));
    height: 100%;
    width: 125%;
    transform: rotate(-40deg) translate(63%,0%);
}

.whiteRectangle{
    z-index: -2;
    background: #fff;
    height: 70%;
    width: 100%;
    transform: rotate(-30deg) translate(-15%, 20%);
}

footer, footer a, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6{
    background: hsl(192, 100%, 9%);
    color: white;
}

/* ignore margin-bottom on empty elements (for columnBreak) */
footer *:not(:empty){
    margin-bottom: 1rem;
}

.button, input{
margin-bottom: 1rem;
}

.button{
    display: inline-block;
    background: hsl(322, 100%, 66%);
    color: white;
    padding: 10px 48px;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(72, 64, 82, 0.35);
    font-size: .8rem;
}

.buttonGlow{
    box-shadow: 
        0px 0px 6px hsl(322, 100%, 66%),
        2px 2px 12px rgba(72, 64, 82, 0.35);
}

.whiteButton{
    background: white;
    color: hsl(265, 100%, 66%);
}

input{
    width: 100%;
    height: 2rem;
    border-radius: 4px;
    border: none;
}

/* alignment & spacing */
.right{
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
}

.centerText{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.marginBottomSm, .column1, .column2, .column3{
    margin-bottom: 2rem;
}

.marginNone{
    margin: 0;
}

/* for small screens */
@media only screen and (max-width: 600px){
    body{
        font-size: 16px;
    }

    /* button */
    .formButton{
        width: 100%;
    }

    /* rows & columns */
    .card{
        min-width: 100%;
        font-size: 10px;
    }
    .row{
        align-items: flex-start;
        margin: 4rem 0;
    }
    .mobileColumn{
        flex-direction: column;
    }
    .column1, .column2, .column3{
        width: 100%;
        max-width: 100%;
    }

    /* decorative */
    .logo{
        display: inline-block;
        width: 40%;
    }

    .whiteLogo{
        margin: auto;
        align-self: center;
        text-align: center;
    }
    .pinkRectangle{
        transform: rotate(-23deg) translate(78%,0%);
    }
    
    .whiteRectangle{
        transform: rotate(-30deg) translate(-35%, 50%);
    }

    /* alignment */
    .centerTextSmallScreen{
        text-align: center;
        align-items: center;
    }

    /* footer */
    footer :not(.column3 a){
        text-align: center;
    }

    /* social media links at bottom of footer on small screens */
    footer .row:nth-child(2) .column3:first-child{
        order: 3;
    }
}