/* Here's where I'll write CSS */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* box-size all the things to border-box!!! */
/* reset all margins to 0 */
html{
    box-sizing: border-box;
    margin: 0;
}
*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
}

body{
    background: hsl(214, 64%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: hsl(208, 11%, 55%);

    /* hides horizontal scrolling */
    overflow-x: hidden;
}

main, header, footer{
    padding: 3% 4%;
}
h1, h2, h3, h4, h5, h6{
    color: black;
}

small{
    font-size: .75rem;
}

a{
    text-decoration: none;
    color: black;
}

img{
    max-width: 100%;
}

.whiteLogo{
    filter: grayscale(100%) contrast(0%) brightness(100);
}

.button{
    display: inline-block;
    background: hsl(322, 100%, 66%);
    color: white;
    padding: 8px 48px;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(72, 64, 82, 0.35);
    font-size: .8rem;
}

.whiteButton{
    background: white;
    color: hsl(265, 100%, 66%);
}

/* alignment */
.right{
    /* background-color: red; */
    float: right;
    /* overflow: auto; */
}

.centerText{
    text-align: center;
    margin: auto;
}
/* rows & columns */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 14rem;
}

.card{
    display: inline-block;
    background: white;
    max-width: 55%;
    padding: 8% 4%;
    box-shadow: 0em 2em 3em rgba(112, 89, 116, 0.15);
    border-radius: 4px;
}
.column1{
    max-width: 50%;
}

.column2{
    box-sizing: border-box;
    display: inline-block;
    flex: 1;
    margin: 0 5%;
    min-width: 300px;
}

.column3{
    display: inline-block;
    flex: 1;
    min-width: 100px;
    flex-wrap: wrap;
    margin-right: 14%;
    min-width: 200px;
}

.column3:last-child{
    margin-right: 0;
}

.centerColumn{
    margin: auto;
}

.flexDirectionColumn{
    display: flex;
    flex-direction: column;
    color: green;
}

.columnBreak{
    flex-basis: 100%;
}

/* social media icons */
i{
    font-size: 1.75em;
    padding-right: 5%;
}
/* decorative stuff */
.decorativeRectangle{
    z-index: -1;
    position: absolute;

    border-radius: 80px;
}
.pinkRectangle{
    background: linear-gradient(hsl(322, 100%, 66%), hsl(265, 100%, 66%));
    height: 100%;
    width: 125%;
    transform: rotate(-40deg) translate(60%, 0%);
}

.whiteRectangle{
    z-index: -2;
    background: #fff;
    height: 60%;
    width: 80%;
    transform: rotate(-10deg) translate(-5%, 60%);
}

footer, footer a, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6{
    background: hsl(192, 100%, 9%);
    color: white;
    margin-bottom: 0 !important;
}